<body>
    <div class="background">
        <app-reloj></app-reloj> 
        <div class="container">
            <div class="input-group">
                <input id="history" [(ngModel)]="history" type="text" readonly />
                <input id="result" [(ngModel)]="display" type="text" readonly />
            </div>
            <div>
                <button class="button" (click)="addNumber(1)">1</button>
                <button class="button" (click)="addNumber(2)">2</button>
                <button class="button" (click)="addNumber(3)">3</button>
                <button class="button" (click)="setOperation('+')">+</button>
            </div>
            <div>
                <button class="button" (click)="addNumber(4)">4</button>
                <button class="button" (click)="addNumber(5)">5</button>
                <button class="button" (click)="addNumber(6)">6</button>
                <button class="button" (click)="setOperation('-')">-</button>
            </div>
            <div>
                <button class="button" (click)="addNumber(7)">7</button>
                <button class="button" (click)="addNumber(8)">8</button>
                <button class="button" (click)="addNumber(9)">9</button>
                <button class="button" (click)="setOperation('*')">*</button>
            </div>
            <div>
                <button class="button" (click)="addDecimal()">.</button>
                <button class="button" (click)="addNumber(0)">0</button>
                <button class="button" (click)="calculate()">=</button>
                <button class="button" (click)="setOperation('/')">/</button>
            </div>
            <div>
                <button class="button" id="clear" (click)="clear()">C</button>
            </div>
        </div>
    </div>
</body>
